<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{ $title := print .Title " · " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ with .OutputFormats.Get "RSS" }}
        <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
        <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}
    
    {{ with .OutputFormats.Get "JSON" }}
        <link href="{{ .RelPermalink }}" rel="alternate" type="application/feed+json" title="{{ $.Site.Title }}" />
    {{ end }}

    {{- if $.Site.Params.indieauth }}	
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">
        <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    {{ end }}

    {{- if $.Site.Params.webmentions }}
        <link rel="webmention" href="https://webmention.io/{{ $.Site.Params.domain }}/webmention" />
        <link rel="pingback" href="https://webmention.io/{{ $.Site.Params.domain }}/xmlrpc" />
    {{ end }}

    {{- if $.Site.Params.microsub }}
        <link rel="microsub" href="https://aperture.p3k.io/microsub/{{ $.Site.Params.microsub }}">
    {{ end }}
  
        <meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">

    {{- if $.Site.Params.opengraph }}
        {{ template "_internal/opengraph.html" . }}
    {{- end }}
    {{- if $.Site.Params.twitter_cards }}
        {{ template "_internal/twitter_cards.html" . }}
    {{- end }}

    <link href="https://github.com/shindakun" rel="me">
    <link href="mailto:steve@shindakun.net" rel="me">

    {{ $styles := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" />

</head>
<body class="{{ block "body_class" . }} {{ end }}">

    <div class="site-wrapper">
        {{- block "main" . }}{{- end }}


        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> &copy; {{ .Date.Format "2006" }}</section>
                <nav class="site-footer-nav">
                    <a href="{{ .Site.BaseURL }}">Latest Posts</a>
                    {{ if .Site.Params.facebook }}<a href="{{ .Site.Params.facebook }}" target="_blank" rel="noopener">Facebook</a>{{ end }}
                    {{ if .Site.Params.twitter }}<a href="{{ .Site.Params.twitter }}" target="_blank" rel="noopener">Twitter</a>{{ end }}
                    {{ if .Site.Params.github }}<a href="{{ .Site.Params.github }}" target="_blank" rel="noopener">Github</a>{{ end }}
                    <a href="https://jonathanjanssens.com" target="_blank" rel="noopener" style="opacity: 0.5;">Hugo Casper3 by Jonathan Janssens</a>
                </nav>
            </div>
        </footer>

    </div>

</body>
</html>