{{ define "body_class" }} post-template {{ end }}

{{ define "main" }}

<header class="site-header">
    {{- partial "site-header.html" $ -}}
</header>

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="h-entry post-full post {{ if not (.Param "feature_image") }} no-image {{ end }}">

            <header class="post-full-header">

                {{ with .Params.tags }}
                    {{ $primaryTag := (index . 0) }}
                    <section class="post-full-tags">
                        <a href="{{ "/tags/" | relLangURL }}{{ $primaryTag | urlize }}">{{ $primaryTag }}</a>
                    </section>
                {{ end }}

                <h1 class="p-name post-full-title">{{ .Title }}</h1>
                <a class="u-url" href="{{ .Permalink }}"></a>

                {{ if .Param "summary" }}
                    <p class="post-full-custom-excerpt">{{ .Summary }}</p>
                {{ end }}

                <div class="post-full-byline">
                    <section class="post-full-byline-content">

                        {{ if .Param "author" }}
                            {{- partial "post-author.html" . -}}
                        {{ end }}

                        <section class="post-full-byline-meta">
                            {{ if .Param "author" }}
                                <h4 class="author-name">{{ .Param "author" }}</h4>
                            {{ end }}
                            <div class="byline-meta-content">
                                <time class="dt-published byline-meta-date" datetime="{{.Date.Format "2006-31-01"}}">{{.Date.Format "2 January 2006"}}</time>
                                <span class="byline-reading-time"><span class="bull">&bull;</span> {{ .ReadingTime }} min read</span>
                            </div>
                        </section>

                    </section>


                </div>
            </header>

            {{ if .Param "feature_image" }}
                {{ if isset .Params "feature_video" }}
                <video width="100%" height="auto" autoplay playsinline poster loop>
              
                    {{ if eq .Params.video_type "mp4" }}
                    <source src="{{ .Param "feature_video" }}" type="video/mp4">
                    {{ end }}
                    
                    {{ if eq .Params.video_type "webm" }}
                    <source src="{{ .Param "feature_video" }}" type="video/webm">
                    {{ end }}
      
                  </video>
                {{else}}
                <figure class="post-full-image">
                    <img src="{{ .Param "feature_image" }}" alt="{{ .Title }}" />
                </figure>
                {{ end }}
            {{ end }}

            <section class="post-full-content">
                <div class="e-content post-content">
                    {{ .Content }}
                </div>
            </section>
            <template id="reply-template">
                <li class="h-entry">
                  <div class="comment-note">
                    <div class="comment-note__avatar">
                      <a class="js-author" href="">
                        <img class="comment-avatar u-photo js-avatar" src=""/>
                      </a>
                    </div>
                    <div class="comment-note__body">
                      <div class="p-author">
                        <a class="comment-author u-author js-author-name" href=""></a>
                        <a class="comment-timestamp u-url js-date js-source" href=""></a>
                      </div>
                      <div class="comment-body js-content e-entry"></div>
                    </div>
                  </div>
                </li>
              </template>
              <template id="like-template">
                <li class="h-entry">
                  <div class="reply h-card p-author">
                    <a class="reply__avatar u-author js-author" href="">
                      <img class="comment-avatar u-photo js-avatar" src=""/>
                    </a>
                    <a class="reply__bar u-url js-source" href="">
                      <div class="reply__author p-name js-sentence js-author-name" href=""></div>
                      <div class="reply__date js-date" href=""></div>
                    </a>
                    <div class="comment-body js-content e-entry"></div>
                  </div>
                </li>
              </template>
            
              <!-- The webmentions.js file we look at in a bit will fill out our lists -->
              <ul class="replies" id="replies"></ul>
              <ul class="likes" id="likes"></ul>
              <ul class="shares" id="shares"></ul>
            
              <div id="comments"></div>
            
                <!-- I'm including this here to make sure it's only used on the single post page. We'll get into this a bit later. -->
                <script type="text/javascript">
                    document.addEventListener('DOMContentLoaded', function () {
                        fetchWebmentions({{ .Permalink }}, {{ .Aliases }});
                    });
                </script>
                 <script src="{{ $.Site.BaseURL }}/js/webmentions.js"></script>
        </article>

    </div>
</main>

{{- partial "post-navigation.html" . -}}

{{ end }}